/*------------------------------------  HOUR   */

.hour-circle {
  background-color: var(--main-color);
  height: 5px;
  width: 5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  transform: rotate(90deg);
}

.hour-circle .stick {
  position: absolute;
  bottom: 0;
  right: 2px;
  height: var(--hours-indicator-size);
  width: 2px;
  background-color: var(--main-color);
}
