/*---------------------------------  second   */

.second-circle {
  background-color: var(--main-color);
  height: 5px;
  width: 5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: rotate(90deg);
}

.second-circle .stick {
  position: absolute;
  bottom: 0;
  right: 2px;
  height: var(--seconds-indicator-size);
  width: 1px;
  background-color: var(--main-color);
}
